{% extends "blog_app/base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programming Blog</title>




<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Track your learning!</h1>
  <p class="lead"> A new Django project called Blog_app for publishing information on the World Wide Web about popular programming languages and useful frameworks. </p>
  <hr class="my-4">
  <p> This blog is for personal and educational use.</p>
  <a class="btn btn-primary btn-lg" href="{% url 'users:register' %}" role="button">Register</a>
</div>
</head>



<body>
    
</body>
</html>

{% endblock content %}