{% extends "blog_app/base.html" %}
{% block content %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programming Blog</title>
</head>

<h1>
    Posts
</h1>



<ul>
    {% for post in posts %}
        <li><h4>
            <a href="{% url 'blog_app:post' post.id %}">{{ post }}</a>
        </h4></li>
    {% empty %}
        <li><h4> No posts have been added yet.</h4></li>
    {% endfor %}
</ul>
<h5><a href="{% url 'blog_app:create_post' %}">Create a new post</a></h5>



<body>
    
</body>
</html>

{% endblock content %}